html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
        'about about about'
        'column1 column2 column3'
    ;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: #c654ff;
    width: auto;
    padding: .3em;
    margin: 0;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.nav a {
    color: white;
    padding: 60px 40px;
    text-decoration: none;
    font-size: 2.5rem;
}

.nav a:hover {
    background-color: #be3bff;
    color: #ffa86e;
}

img {
    width: 200px;
    height: 200px;
}

.logo {
    width: 200px;
    height: 200px;
    margin-right: auto;
}

.content {
    grid-area: about;
    font-size: 35px;
    text-align: center;
    margin: 15px;
    padding: 15px;
}

.content1 {
    grid-area: column1;
    font-size: 30px;
    text-align: center;
    margin: 15px;
    padding: 15px;
}

.content2 {
    grid-area: column2;
    font-size: 30px;
    text-align: center;
    margin: 15px;
    padding: 15px;
}

.content3 {
    grid-area: column3;
    font-size: 30px;
    text-align: center;
    margin: 15px;
    padding: 15px;
}

ul {
    list-style: none;
}

ul strong {
    text-decoration: line-through;
}

body {
    background-color: #EBB1A4;
}
h1 {
    color: #be3bff;
}
h3,li {
    color: white;
}

h2 {
    color: #EBB1A4;
}

.white {
    color: white;
}

.hero_image1 {
    background-image: url(pictures/studio.jpg);
    height: 500px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero_image2 {
    background-image: url(pictures/founder.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero_image3 {
    background-image: url(pictures/team.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero_image4 {
    background-image: url(pictures/games.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

li em {
    font-style: normal;
    font-weight: bolder;
    font-size: 35px;
}

a {
    text-decoration: none;
    color: #c654ff;
}

.img {
    width: 350px;
    height: 250px;
}

#i1, #i3, #i5 {
    background-color: white;
    color: #EBB1A4;
}

#i2, #i4, #i6 {
    color: white;
}
/* responsive design */

img {
    max-width: 100%;
}

@media screen and (min-width: 100px) {
    #main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
            'about'
            'column1'
            'column2'
            'column3'
        ;     
    }
    .nav {
        display: flex;
        flex-direction: row;
        list-style: none;
        background-color: #c654ff;
        height: 20px;
        width: auto;
        padding: 10px;
        margin: 10px;
        align-items: center;
        justify-content: flex-start;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    .nav a {
        color: white;
        text-decoration: none;
        font-size: 12px;
        padding: 10px;
        margin: 10px;
    }
    .logo {
        width: 20px;
        height: 20px;
        padding: 10px;
        margin-right: auto;
    }
    .content {
        grid-area: about;
        font-size: 20px;
        text-align: center;
        margin: 5px;
        padding: 5px;
        background-color: white;
        color: #EBB1A4;
    }
    
    .content1 {
        grid-area: column1;
        font-size: 15px;
        text-align: center;
        margin: 5px;
        padding: 5px;
        background-color: #EBB1A4;
        color: white;
    }
    
    .content2 {
        grid-area: column2;
        font-size: 15px;
        text-align: center;
        margin: 5px;
        padding: 5px;
        background-color: white;
        color: #EBB1A4;
    }
    
    .content3 {
        grid-area: column3;
        font-size: 15px;
        text-align: center;
        margin: 5px;
        padding: 5px;
        background-color: #EBB1A4;
        color: white;
    }
    .hero_image1 {
        background-image: url(pictures/studio.jpg);
        height: 100px;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .hero_image2 {
        background-image: url(pictures/founder.jpg);
        height: 100px;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    .hero_image3 {
        background-image: url(pictures/team.jpg);
        height: 100px;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    .hero_image4 {
        background-image: url(pictures/games.jpg);
        height: 100px;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .games {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-gap: 15px;
        margin: 10px;
        text-align: center;
    }

    .games em {
        font-size: large;
        font-style: normal;
        font-weight: bold;
    }

    #contact {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin: 15px;
        padding: 15px;
        
        grid-template-areas: 
            'img1 img2 img3'
        ;
    }
    
    #img_grid1 {
        grid-area: img1;
        justify-self: center;
        background-color: white;
        height: 100px;
        width: 100px;
    }
    
    #img_grid2 {
        grid-area: img2;
        justify-self: center;
        background-color: white;
        height: 100px;
        width: 100px;
    }
    
    #img_grid3 {
        grid-area: img3;
        justify-self: center;
        background-color: white;
        height: 100px;
        width: 100px;
    }

    img {
        max-width: 100%;
    }
} 

@media screen and (min-width: 200px) {
    #main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
            'about'
            'column1'
            'column2'
            'column3'
        ;     
    }
    .nav {
        display: flex;
        flex-direction: row;
        list-style: none;
        background-color: #c654ff;
        height: 25px;
        width: auto;
        padding: 10px;
        margin: 10px;
        align-items: center;
        justify-content: flex-start;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    .nav a {
        color: white;
        text-decoration: none;
        font-size: 12px;
        padding: 10px;
        margin: 10px;
    }
    .logo {
        width: 25px;
        height: 25px;
        padding: 10px;
        margin-right: auto;
    }
    .content {
        grid-area: about;
        font-size: 20px;
        text-align: center;
        margin: 5px;
        padding: 5px;
        background-color: white;
        color: #EBB1A4;
    }
    
    .content1 {
        grid-area: column1;
        font-size: 15px;
        text-align: center;
        margin: 5px;
        padding: 5px;
        background-color: #EBB1A4;
        color: white;
    }
    
    .content2 {
        grid-area: column2;
        font-size: 15px;
        text-align: center;
        margin: 5px;
        padding: 5px;
        background-color: white;
        color: #EBB1A4;
    }
    
    .content3 {
        grid-area: column3;
        font-size: 15px;
        text-align: center;
        margin: 5px;
        padding: 5px;
        background-color: #EBB1A4;
        color: white;
    }
    .hero_image1 {
        background-image: url(pictures/studio.jpg);
        height: 200px;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .hero_image2 {
        background-image: url(pictures/founder.jpg);
        height: 200px;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    .hero_image3 {
        background-image: url(pictures/team.jpg);
        height: 200px;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    .hero_image4 {
        background-image: url(pictures/games.jpg);
        height: 200px;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .games {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-gap: 15px;
        margin: 10px;
        text-align: center;
    }

    .games em {
        font-size: large;
        font-style: normal;
        font-weight: bold;
    }

    #contact {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin: 15px;
        padding: 15px;
        
        grid-template-areas: 
            'img1 img2 img3'
        ;
    }
    
    #img_grid1 {
        grid-area: img1;
        justify-self: center;
        background-color: white;
        height: 100px;
        width: 100px;
    }
    
    #img_grid2 {
        grid-area: img2;
        justify-self: center;
        background-color: white;
        height: 100px;
        width: 100px;
    }
    
    #img_grid3 {
        grid-area: img3;
        justify-self: center;
        background-color: white;
        height: 100px;
        width: 100px;
    }

    img {
        max-width: 100%;
    }
} 

@media screen and (min-width: 400px) {
    #main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
            'about'
            'column1'
            'column2'
            'column3'
        ;     
    }
    .nav {
        display: flex;
        flex-direction: row;
        list-style: none;
        background-color: #c654ff;
        height: 25px;
        width: auto;
        padding: 10px;
        margin: 10px;
        align-items: center;
        justify-content: flex-start;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    .nav a {
        color: white;
        text-decoration: none;
        font-size: 12px;
        padding: 10px;
        margin: 10px;
    }
    .logo {
        width: 25px;
        height: 25px;
        padding: 10px;
        margin-right: auto;
    }
    .content {
        grid-area: about;
        font-size: 20px;
        text-align: center;
        margin: 5px;
        padding: 5px;
        background-color: white;
        color: #EBB1A4;
    }
    
    .content1 {
        grid-area: column1;
        font-size: 15px;
        text-align: center;
        margin: 5px;
        padding: 5px;
        background-color: #EBB1A4;
        color: white;
    }
    
    .content2 {
        grid-area: column2;
        font-size: 15px;
        text-align: center;
        margin: 5px;
        padding: 5px;
        background-color: white;
        color: #EBB1A4;
    }
    
    .content3 {
        grid-area: column3;
        font-size: 15px;
        text-align: center;
        margin: 5px;
        padding: 5px;
        background-color: #EBB1A4;
        color: white;
    }
    .hero_image1 {
        background-image: url(pictures/studio.jpg);
        height: 200px;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .hero_image2 {
        background-image: url(pictures/founder.jpg);
        height: 200px;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    .hero_image3 {
        background-image: url(pictures/team.jpg);
        height: 200px;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    .hero_image4 {
        background-image: url(pictures/games.jpg);
        height: 200px;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .games {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-gap: 15px;
        margin: 10px;
        text-align: center;
    }

    .games em {
        font-size: large;
        font-style: normal;
        font-weight: bold;
    }

    #contact {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin: 15px;
        padding: 15px;
        
        grid-template-areas: 
            'img1 img2 img3'
        ;
    }
    
    #img_grid1 {
        grid-area: img1;
        justify-self: center;
        background-color: white;
        height: 100px;
        width: 100px;
    }
    
    #img_grid2 {
        grid-area: img2;
        justify-self: center;
        background-color: white;
        height: 100px;
        width: 100px;
    }
    
    #img_grid3 {
        grid-area: img3;
        justify-self: center;
        background-color: white;
        height: 100px;
        width: 100px;
    }

    img {
        max-width: 100%;
    }
} 

@media screen and (min-width: 600px) {
    #main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            'about about'
            'column1 column2'
            'column3 column3'
        ;     
    }
    .nav {
        display: flex;
        flex-direction: row;
        list-style: none;
        background-color: #c654ff;
        height: 40px;
        width: auto;
        padding: auto;
        margin: auto;
        align-items: center;
        justify-content: flex-start;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    .nav a {
        color: white;
        text-decoration: none;
        font-size: 20px;
        padding: auto;
        margin: auto;
    }
    .logo {
        width: 40px;
        height: 40px;
        padding: auto;
        margin-right: auto;
    }
    .content {
        grid-area: about;
        font-size: 30px;
        text-align: center;
        margin: 5px;
        padding: 5px;
        background-color: white;
        color: #EBB1A4;
    }
    
    .content1 {
        grid-area: column1;
        font-size: 20px;
        text-align: center;
        margin: 10px;
        padding: 10px;
        background-color: #EBB1A4;
        color: white;
    }
    
    .content2 {
        grid-area: column2;
        font-size: 20px;
        text-align: center;
        margin: 10px;
        padding: 10px;
        background-color: white;
        color: #EBB1A4;
    }
    
    .content3 {
        grid-area: column3;
        font-size: 20px;
        text-align: center;
        margin: 10px;
        padding: 10px;
        background-color: #EBB1A4;
        color: white;
    }

    .hero_image1 {
        background-image: url(pictures/studio.jpg);
        height: 300px;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .hero_image2 {
        background-image: url(pictures/founder.jpg);
        height: 300px;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    .hero_image3 {
        background-image: url(pictures/team.jpg);
        height: 300px;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    .hero_image4 {
        background-image: url(pictures/games.jpg);
        height: 300px;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .games {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-gap: 20px;
        padding: 15px;
        margin: 15px;
        text-align: center;
    }

    .games em {
        font-size: large;
        font-style: normal;
        font-weight: bold;
    }

    #contact {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin: 15px;
        padding: 15px;
        grid-template-areas: 
            'img1 img2 img3'
        ;
    }
    
    #img_grid1 {
        grid-area: img1;
        justify-self: center;
        background-color: white;
        height: 200px;
        width: 200px;
    }
    
    #img_grid2 {
        grid-area: img2;
        justify-self: center;
        background-color: white;
        height: 200px;
        width: 200px;
    }
    
    #img_grid3 {
        grid-area: img3;
        justify-self: center;
        background-color: white;
        height: 200px;
        width: 200px;
    }

    img {
        max-width: 100%;
    }
}

@media screen and (min-width: 800px) {
    #main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
            'about about about'
            'column1 column2 column3'
        ;
    }
    .nav {
        display: flex;
        flex-direction: row;
        list-style: none;
        background-color: #c654ff;
        height: auto;
        width: auto;
        padding: .3em;
        margin: 0;
        align-items: center;
        justify-content: flex-start;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    
    .nav a {
        color: white;
        padding: 60px 40px;
        text-decoration: none;
        font-size: 2.5rem;
    }
    
    .content {
        grid-area: about;
        font-size: 35px;
        text-align: center;
        margin: 15px;
        padding: 15px;
        background-color: white;
        color: #EBB1A4;
    }
    
    .content1 {
        grid-area: column1;
        font-size: 30px;
        text-align: center;
        margin: 15px;
        padding: 15px;
        background-color: #EBB1A4;
        color: white;
    }
    
    .content2 {
        grid-area: column2;
        font-size: 30px;
        text-align: center;
        margin: 15px;
        padding: 15px;
        background-color: white;
        color: #EBB1A4;
    }
    
    .content3 {
        grid-area: column3;
        font-size: 30px;
        text-align: center;
        margin: 15px;
        padding: 15px;
        background-color: #EBB1A4;
        color: white;
    }
    
    .logo {
        width: 100px;
        height: 100px;
        padding: auto;
        margin-right: auto;
    }

    .hero_image1 {
        background-image: url(pictures/studio.jpg);
        height: 500px;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .hero_image2 {
        background-image: url(pictures/founder.jpg);
        height: 500px;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    .hero_image3 {
        background-image: url(pictures/team.jpg);
        height: 500px;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    .hero_image4 {
        background-image: url(pictures/games.jpg);
        height: 500px;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

   .games {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-gap: 25px;
        padding: 15px;
        margin: 15px;
        text-align: center;
    }

    .games em {
        font-size: large;
        font-style: normal;
        font-weight: bold;
    }

    #contact {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin: 15px;
        padding: 15px;
        grid-gap: 20px;
        grid-template-areas: 
            'img1 img2 img3'
        ;
    }
    
    #img_grid1 {
        grid-area: img1;
        justify-self: center;
        background-color: white;
        height: 300px;
        width: 300px;
        margin: 15px;
        padding: 15px;
    }
    
    #img_grid2 {
        grid-area: img2;
        justify-self: center;
        background-color: white;
        height: 300px;
        width: 300px;
        margin: 15px;
        padding: 15px;
    }
    
    #img_grid3 {
        grid-area: img3;
        justify-self: center;
        background-color: white;
        height: 300px;
        width: 300px;
        margin: 15px;
        padding: 15px;
    }

    img {
        max-width: 100%;
    }
} 
